# Occupations Associated with high Alcohol Consumption
* This file serves to analyze occupations associated with higher than average alcohol consumption.
* We are able to search for these occupations given our Comparative Profile
* https://alcohol.org/professions/

In [1]:
import os                       # For working in different directories
import numpy as np              # Data Libraries
import pandas as pd             # Data Libraries
import matplotlib.pyplot as plt # Visualization Library
import seaborn as sns           # Visualization Library
import geopandas as gpd         # geospatial library 
import requests                 # GET/Web Requests
from bs4 import BeautifulSoup   # Web scraping
import yaml                     # working w/ config file
from importnb import imports    # load other Jupyter Notebooks inside of this notebook

### From website create DataFrame

In [6]:
occ_dict = {
    'occupation': ['lawyers', 'nurses_and_healthcare_prof', 'mining', 'construction', 'hospitality', 'arts_and_entertainment'], 
    'consumption_rate': [20, 15, 17.5, 16.5, 11.8, 11.5]
}

df_occ = pd.DataFrame(occ_dict)
df_occ.sort_values(by='prof_cons_rate', ascending=False)

                   occupation  consumption_rate
0                     lawyers              20.0
2                      mining              17.5
3                construction              16.5
1  nurses_and_healthcare_prof              15.0
4                 hospitality              11.8
5      arts_and_entertainment              11.5